@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  background-color: #eee;
  margin: 0;
  font-family: Open Sans;
}

nav {
  display: flex;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

nav a {
  flex: 1;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #000;
  transition: all 0.2s;
}

nav a:hover {
  background: #2196f3;
  color: #fff;
}

.active {
  border-bottom: 10px solid #2196f3;
  padding-top: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 80px);
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 3em;
}
